.tapbar-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: 60px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  opacity: 0.3;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.tapbar-tab.w--current {
  background-color: #fff;
  opacity: 1;
}

.tapbar {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top: 1px solid #ebf2f7;
  background-color: #fff;
}

.tabs {
  position: relative;
  height: 100vh;
}

.heading {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: 'Mark simonson proxima nova', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.heading.align-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.navbar-content {
  padding: 16px 16px 100px;
}

.button-primary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;

  /*stickyness*/
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.event-box {
  margin-top: 16px;
  padding: 16px 24px;
  background-color: #edf8ff;
}

.event-box.optional {
  border: 1px solid #b9e2fe;
  border-radius: 1px;
  background-color: #fff;
}

.event-box.optional.confirmed {
  border-width: 4px;
  border-color: #000;
}

.event-box.bckg-1 {
  background-image: url('../images/bckg-1.svg');
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-block {
  display: block;
  padding-bottom: 8px;
  font-family: 'Mark simonson proxima nova', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}

.text-block.tickets {
  display: inline-block;
  padding-left: 0px;
  font-weight: 700;
}

.text-block.description {
  margin-top: 24px;
}

.login-page-pattern {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.login-page-box {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100vw;
  height: 200px;
  padding: 24px;
  background-color: #fff;
}

.bit {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.lottie-animation {
  width: 100vw;
}

.heading2 {
  margin-top: 0px;
  margin-bottom: 8px;
  opacity: 0.3;
  color: #000;
  font-size: 18px;
  line-height: 18px;
}

.popup {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  overflow: scroll;
  width: 100vw;
  min-height: 100vh;
  padding: 60px 24px 24px;
  background-color: #d9f0ff;
}

.close {
  position: fixed;
  left: auto;
  top: 16px;
  right: 16px;
  bottom: auto;
  width: 40px;
  height: 40px;
  background-image: url('../images/close.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.loginpopup {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999999;
  display: block;
  overflow: hidden;
  background-color: #fff;
}

.link {
  display: inline-block;
  padding-bottom: 8px;
  font-family: 'Mark simonson proxima nova', sans-serif;
  color: #1d9ff5;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.link2 {
  display: inline-block;
  padding-bottom: 8px;
  font-family: 'Mark simonson proxima nova', sans-serif;
  color: #40BD7E;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  padding-right: 16px;
  background: url('../images/maplink.svg') no-repeat right 2px;
}





.link.tickets {
  margin-top: 8px;
  font-weight: 700;
}

.event-box-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-bit {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Mark simonson proxima nova', sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
}

.dayheader {
  position: relative;
  width: 100%;
  height: 100px;
  background-image: url('../images/brainly-camp-logo.svg');
  background-position: 0% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.button-secondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 100px;
  background-color: #d9f0ff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;

  /*stickyness*/
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

@font-face {
  font-family: 'Mark simonson proxima nova';
  src: url('../fonts/Mark-Simonson---Proxima-Nova-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Mark simonson proxima nova';
  src: url('../fonts/Mark-Simonson---Proxima-Nova-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mark simonson proxima nova';
  src: url('../fonts/Mark-Simonson---Proxima-Nova-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Mark simonson proxima nova';
  src: url('../fonts/Mark-Simonson---Proxima-Nova.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mark simonson proxima nova';
  src: url('../fonts/Mark-Simonson---Proxima-Nova-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Mark simonson proxima nova';
  src: url('../fonts/Mark-Simonson---Proxima-Nova-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Mark simonson proxima nova';
  src: url('../fonts/Mark-Simonson---Proxima-Nova-Bold.otf') format('opentype'), url('../fonts/Mark-Simonson---Proxima-Nova-Extrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}