.popup {
  -webkit-transition: all;
  transition: all;
}
.popup-visible {

    -webkit-animation: showPopup;
            animation: showPopup;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}


.popup-hidden {

    -webkit-animation: hidePopup;
            animation: hidePopup;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

}

@-webkit-keyframes hidePopup {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
      opacity: 0;
    }
}

@keyframes hidePopup {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
      opacity: 0;
    }
}

@-webkit-keyframes showPopup {
    0% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes showPopup {
    0% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
}


.event-box.bckg-1 { 
  background-image: url('../images/bckg-1.svg'); 
  background-position: 100% 0%; 
  background-size: contain; 
  background-repeat: no-repeat; 
}

.event-box.bckg-2 { 
  background-image: url('../images/bckg-2.svg'); 
  background-position: 100% 0%; 
  background-size: contain; 
  background-repeat: no-repeat; 
}

.event-box.bckg-3 { 
  background-image: url('../images/bckg-3.svg'); 
  background-position: 100% 0%; 
  background-size: contain; 
  background-repeat: no-repeat; 
}

.event-box.bckg-4 { 
  background-image: url('../images/bckg-4.svg'); 
  background-position: 100% 0%; 
  background-size: contain; 
  background-repeat: no-repeat; 
}

.disable{
  opacity: 0.2;
}

.turnoff{
  display: none;
}

.turnon{
  display: block;
}

.admin-body {
  background-color: #EBF2F7;
}


.event-container {
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
}

.column{
  margin-top: 24px;
  width: 30%;
  float: left;
  margin-right: 16px;
}

.admin-button {
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
    padding: 8px;
    border-radius: 100px;
    background: black;
    color: white;
    margin-right: 4px;
}

.admin-email-input {
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    border-radius: 100px;
    border: none;
}

.event-title {
  font-weight: 900;
}

.main-admin {
  padding: 120px;
}

.participants-list {
  color: #FBBE2E;
  font-weight: 900;
}

.margin-top-20 {
  margin-top: 20px;
}

.admin-footer {
  margin-top: 24px;
  padding: 24px;
  width: auto;
  border-radius: 8px;
  background-color: #EBF2F7;
}

.flexme {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

